.navbar-border:hover {
  border-bottom: 0.25rem solid #f1c40f;
}
.nav-text {
  color: #e65f29;
  text-transform: capitalize !important;
}
.has-bg-img {
  background: url("../images/bg.png") no-repeat center center;
  background: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}
.modal.is-active .modal-background {
  opacity: 0.5 !important;
}
.modal-card {
  overflow-y: hidden;
  border: 3px solid #e65f29;
}
.modal-card-head {
  background-color: #f2f6d0;
  border: 1px solid #e65f29;
}
.modal-card-body {
  background-color: #f2f6d0;
}

.heading-padding {
  padding-top: 1.5rem;
}
/*Modal edition to fit the theme
.modal-card{
  border:0.5rem dashed #e65300;
}
.modal-card-head{
  border-top-left-radius:0;
  border-top-right-radius:0;
  background-color: #fff;
  border-bottom:0.3rem dashed #e65300;
}
*/
#map {
  z-index: 1 !important;
}
#modal {
  z-index: 2 !important;
}
